@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "My-font";  /* Custom font name */
  src: local("HeliosExt"),
       url("/heliosext/HeliosExt.otf") format("opentype"); /* Correct format */
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "My-font", sans-serif;
    background-color: #1A1A1A;
}